*{
    box-sizing: border-box;
   
}

header{
    border-bottom: 5px solid rgba(152, 151, 151, 0.364);
    height: 130px;
    
    
}

body{
    margin: 0;
}



#image{
    display: inline-block;
}

#issuu{
    display: inline-block;
    margin-left: 100px;
    margin-top: 10px;
    position:relative;
    font-size: 50px;
    text-align: center;
    
    width: 10px;
    height: 15px;
}

#ini{
    text-align: center;
    display: inline-block;
    width: 350px;
    height: 20px;
    position:relative;
    margin-left: 1100px;
    margin-top: -99px;
}









@import url(https://fonts.googleapis.com/css?family=Roboto:500);